<style>
  .container {
    position: relative;
    font-family:Arial;
    background-color:grey;
    margin-top: 200px;
    margin-left:200px
    margin-right:200px
  }
  .text-block {
    text-align:center;
    top: 120px;
    left: 100px;
    color:white
  }
  a{
    color:inherit;
    text-decoration:inherit;
  }
</style>

<div class="card container" style="width: 18rem; height:200px;text-align:center">
  <a href="/calculator/fraction"><div class="card-body">
    <h5 class="card-title">Fraction Calculater</h5><br>
    <p class="card-text">This Calculator will help to solve Fraction Problem.</p>
  </div>
  </a>
</div>
</div>