<style>
  #banner {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
  .container {
    position: relative;
    font-family:Arial;
  }
  .text-block {
    position:absolute;
    top: 90px;
    left: 20px;
    color:white
  }
</style>

<div class="container">
  <img class="img-fluid " id="banner" src="https://amplemathematiclab--avinashvikramsi.repl.co//static/canvas.png" >
  <div class="text-block">
    <h1>Welcome to Ample</h1>
    <h1>Mathematics Lab</h1><br><br><br>
    <h3>Your go-to destination for all</h3>
    <h3>things related to mathematics</h3>
    <h3>calculations and conversions.</h3>
    <h3>Get accurate solutions to</h3>
    <h3>complex problems within</h3>
    <h3>seconds.</h3>
  </div>
</div>