<style>
  .container {
    position: relative;
    font-family:Arial;
    height:auto;;
    max-width:100%;
  }
  .text-block {
    position:absolute;
    top: 20px;
    left: 100px;
    color:white
  }
</style>

<div class="col-6 text-white container">
  <a href="/calculator"><img src="/static/calculator.jpeg " style=" margin-left:90px;height:auto;max-width:100%;border-radius:4px;">
  <div class="text-block">
    <h3>Calculator</h3>
  </div></a>
</div>
<div class="col-6 text-white container">
  <a href="/conversion"><img src="/static/numbers.jpeg " style=" margin-left:90px;height:auto;max-width:100%;border-radius:4px;">
  <div class="text-block">
    <h3>Conversion</h3>
  </div></a>
</div>
